@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A simple web application for creating, editing, and organizing a list of invites for a wedding.</p>

<p><a href="https://github.com/dgsmith/WeddingInvites">Github</a></p>
