@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:d.grayson.smith@gmail.com">d.grayson.smith@gmail.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/dgsmith">dgsmith</a>
</address>